// Color Tokens

$blue-400: #0085fc;
$blue-700: #0357a3;
$gray-100: #e4e8f3;
$gray-200: #cbd0e1;
$gray-600: #7c84a5;
$gray-700: #041c31;
$white: #ffffff;
$red-100: #f9715e;
$red-400: #d91e05;
$red-700: #8f1302;

// Color Aliases

$text-color: $gray-700;
$text-hover: $blue-400;
