@import "../../styles/colors";

button {
  display: inline-flex;
  padding: 11px 16px;
  align-items: flex-start;

  border-radius: 5px;
  border: 1px solid $blue-700;
  background: $blue-400;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;

  color: var(--white, #fff);
  font-size: 13px;
  font-family: "Inter", Helvetica, Arial, Helvetica, sans-serif;

  &.primary {
    background: $blue-400;
    border: 1px solid $blue-700;
  }

  &.secondary {
    background: $gray-100;
    border: 1px solid $gray-200;
    color: $text-default;
  }

  app-icon {
    margin-right: 12px;
  }
}
